# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Build font
      run: |
        # python
        pyenv global 3.7.2
        pip install -r requirements.txt

        # otfcc
        # Install Xcode by mas-cli
        mas install 497799835
        # Note: Xcode initially gets an error because the [Command line Tools:] list box is blank.
        # The following solutions will fix this problem.
        # Refer to [エラー：xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/Developer/CommandLineTools' is a command line tools instance](https://qiita.com/eytyet/items/59c5bad1c167d5addc68)

        # Install otfcc
        brew tap caryll/tap 
        brew install otfcc-mac64

        # Making a homograph dictionary
        cd res/phonics/duo_yin_zi/scripts/
        python make_pattern_table.py

        # Make an unicode table of target Chinese characters
        cd res/phonics/unicode_mapping_table/
        python make_unicode_pinyin_map_table.py

        time python src/main.py --style han_serif
